.search_container {
  width: 100%;
  padding: baseline(2) 0;
  text-align: center;
  background-color: $light-blue;
  margin-bottom: baseline(1);

  &__form {

  }

  &__label {
    display: block;
    padding-bottom: baseline(.5);
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
  }

  &__input {
    padding: baseline(.5);
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: baseline(.5);
    vertical-align: middle;
    box-sizing: border-box;

    &:focus {
      outline: 0;
      border-color: #129FEA;
    }
  }

  &__submit {

  }
}
