/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

$background-color: #fff;
$title-color: #404242;
$text-color: #686b6d;
$highlight-color: #939daf;
$light-blue: #c3d4e2;
$extra-light-blue: #dbe6ff;

/*------------------------------------*\
    $DESIGNS
\*------------------------------------*/

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content__container {
  width: 640px;
  margin: 0 auto;
}
