.user {
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 5px 0px #E0E0E0;
  display: grid;
  grid-template-columns: 100%;
  margin-top: baseline(1);

  @media only screen and (min-width: $breakpoint-med) {
    grid-template-columns: 30% 70%;
    margin-top: baseline(4);
  }

  @media only screen and (min-width: $breakpoint-large) {
    grid-template-columns: 25% 75%;
  }

  &__image {
    grid-column: 1;
    grid-row: 1;
    display: inline-block;

    img{
      margin-top: baseline(-2);
      margin-bottom: baseline(2);
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;

      @media only screen and (min-width: $breakpoint-med) {
        width: 100%;
        margin-left: baseline(2);
      }
    }
  }

  &__info {
    grid-column: 1;
    grid-row: 2;
    display: inline-block;
    padding: baseline(2) baseline(1);

    @media only screen and (min-width: $breakpoint-med) {
      grid-column: 2;
      grid-row: 1;
      margin-left: baseline(1);
      padding: baseline(2);
    }

    &--top {
      text-align: center;
      margin-bottom: baseline(1);
    }

    &--bottom {
      grid-row: 2;
      grid-column: 1 / 2;
      text-align: center;
      margin-bottom: baseline(2);
    }

    &--count {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
      margin-bottom: baseline(1);
    }
  }

  &__name {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    padding-bottom: baseline(1);
  }

  &__divider {
    width: 50%;
    height: 1px;
    display: block;
    background-color: $light-gray;
    margin: 20px auto 25px;
  }

  &__stats {
    padding: 0 baseline(1);
    border-right: 1px solid $light-gray;
    color: $medium-gray;

    &:last-child {
      border-right: 0;
    }

    span {
      display: block;
      font-weight: $font-weight-heavy;
      font-size: baseline(1.6);
    }
  }

  &__additional-info {
    width: 100%;
    grid-row: 3;
    grid-column: 1 / 3;
  }

  &__tablist {
    display: grid;

    @media only screen and (min-width: $breakpoint-med) {
      grid-template-columns: repeat(2, 1fr);
      grid-row: 2;
    }
  }

  &__tab {
    display: inline-block;
    padding: baseline(1);
    border-top: 1px solid $light-gray;
    text-align: center;

    @media only screen and (min-width: $breakpoint-med) {
      border-right: 1px solid $light-gray;
      cursor: pointer;
      transition: all 0.2s linear;

      &:last-child {
        border-right: 0;
      }

      &:hover {
        background-color: $medium-gray;
        transition: all 0.3s linear;
        color: $white;
      }
    }

    &--active {
      background-color: $light-gray;
    }
  }
}
